<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headlines</title>
</head>
<body>
{# <h1>Headlines</h1>#}
   {#
    <b>{{ title }}</b><br/>
    <i>{{ published }}</i><br/>
    <p>{{ summary }}</p>#}


{#    <b>{{ article.title }}</b><br/>
    <i>{{ article.published }}</i><br/>
    <p>{{ article.summary }}</p>#}

    {% for article in articles %}
        <b><a href="{{ article.title }}"> {{ article.title }}</a></b><br/>
        <i>{{ article.published }}</i><br/>
        <p>{{ article.summary }}</p>
        <hr />
    {% endfor %}
</body>
</html>